@charset "UTF-8";

* {
    margin: auto;
    padding: 0px;
}

body, html {
    background-color: rgba(130, 130, 235, 0.836);
    box-sizing: border-box;
    justify-content: center;
}

div {
    padding: 10px;
    background-color: rgba(173, 166, 166, 0.849);
    font-size: 1em;
    border-radius: 10px;
}

div#form01 {
    width: 90vw;
    display: block;
}

div:nth-child(even) {
    background-color: lightblue;
}

div#form02 {
    margin-top: -10px;
}